html,
body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;

//   background: linear-gradient(to bottom right, #444444, #009a5b);
  font-size: 1rem;
}

main {
  // color: #1f1e1c;
  font-family: sans-serif;
  text-align: center;
}

.caption{
  margin-left: 30px;
}

.pream{
  width: 600px!important;
  text-align: left;
  padding-left:20px;
  margin-left: 30px;
  margin-bottom: 30px;
  background: #999999;
}

.signIn{
  margin-left: 30px;
}


input {
  width: 400px;
  margin-left: 26px;
}

.privateKey{
  width: 500px;
  margin-left: 10px;
}

.operatiton{
  margin-top: 10px;
}

button{
  color: #fff;
  border-color: #1890ff;
  background: #1890ff;
}


